body {
    font: 14px/18px 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*common*/

.pad-15 {
    padding: 15px;
}

.clear {
    clear: both;
}
.clear:after, .clear:before{
    content: " ";
    display: table;
}
.header {
    min-height: 55px;
    background: #273135;
    border-bottom: 1px solid #273135;
}

a.toggle-nav {
    top: 12px;
    right: 15px;
    position: absolute;
    color: #fff;
    line-height: 25px;
    font-size: 22px;
    background: #DE5939;
    padding: 3px 5px;
    border-radius: 1px;
    transform: rotate(90deg);
}

.header > .left-head {
    width: 250px;
    display: block;
    background:#20282B;
    position:relative;
}
.header > .left-head .logo img{
    max-width:150px;
    width:100%;
}
.header > .left-head .logo{
    padding:10px 0px 10px 15px;
}
.nice-nav {
    width: 250px;
    background: #DE5939;
    height: 100%;
    transition:all 0.4s ease-in-out 0s;
    float:left;
}
.nice-nav.open {
    margin-left: -250px;
    display: block;
}
.nice-nav > .user-info {
    padding: 10px 15px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    min-height: 41px;
}
.nice-nav .user-info .user-name,
.nice-nav .user-info img{float:left;}


.nice-nav> .user-info > .user-name {
    padding: 0px 10px;
}

.user-info > .user-name h5 {
    text-transform: uppercase;
    font-size: 16px;
}

.user-info > .user-name span {
    font-size: 80%;
    color: #555;
    font-style: italic;
}


.nice-nav li.child-menu span.toggle-right {
    text-align: right;
    float: right;
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 15px;
    top: 0;
    background: #DE5939;
    bottom: 0;
}

.nice-nav ul li a {
    padding: 12px;
    background: #FA7252;
    border-bottom: 1px solid #ddd;
    display: block;
    color: #fff;
    position: relative;
}

.nice-nav ul li.child-menu ul {
    background: #aaa;
    display: none;
}

.nice-nav ul li.child-menu ul li a {
    background: #273135;
    padding: 10px 20px;
}
/*note*/
/*Logo Form Freepic*/
